<div class="col-md-8">
  <div class="card">

    <div class="header">
      <p style="float:right;"><a href="/competencies"><i class="pe-7s-angle-left-circle"></i></a></p>
      <h4 class="title">Add Competency</h4>

    </div>


    <div class="content">

      <%= bootstrap_form_for @competency do |f| %>

          <%= f.text_field :competency_title%>

          <%= f.text_area :competency_description%>

          <table class="table table-hover table-striped">
            <thead>
            <tr>
              <th>Skills</th>
              <th></th>
            </tr></thead>
            <tbody class="skills">
            <%= f.fields_for :competency_skills do |builder| %>
                <%= render 'competency_skill_fields', f: builder %>
            <% end %>
            </tbody>
          </table>

          <div class="form-actions">
            <%= link_to_add_association "Add Skill", f, :competency_skills, class: "btn btn-default", data: {association_insertion_node: ".skills", association_insertion_method: :append} %>
            <%= f.submit "Save", :class => "btn btn-default"%>
          </div>

      <% end %>
    </div>
  </div>
</div>